.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.backBtn{
  
}

#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


#matchContainer {
  width: 80vw;
  height: 50vh;
  padding-bottom: 35vh;
}

td {
  width: 7.5vw;
  text-align: center;
  border: 2px solid black;
}

#board {
  display: flex;
  width: inherit;
  height: inherit;
  position: absolute;
}

.gameBoard {
  display: flex;
  margin-left: 1vw;
  margin-top: 1vw;
}

#matchList {
  width: inherit;
  border-collapse: collapse;
  border: 3px solid black;
}

#matchList tr {
  line-height: 5vh; 
}